@using ForumSystem.Common
@using ForumSystem.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ForumSystem.Data.Common.Repositories.IDeletableEntityRepository<UserImage> userImages

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        var user = await this.UserManager.GetUserAsync(this.User);
        var profileImage = (userImages.All().FirstOrDefault(x=>x.UserId==user.Id && x.IsProfileImage==true) != null) ? "/images/users/" + userImages.All().FirstOrDefault(x => x.UserId == user.Id && x.IsProfileImage == true).Id + "." + userImages.All().FirstOrDefault(x => x.UserId == user.Id && x.IsProfileImage == true).Extension : "/images/users/default-profile-icon.jpg";
        <li class="nav-item" style="margin-top:8px;">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @(this.User.Identity.Name)!</a>
        </li> 
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
               <li class="nav-item dropdown"  style="margin-top:8px;">
                   <a href="#" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown">Admin</a>
                   <div class="dropdown-menu">
                       <a class="nav-link text-dark" asp-area="Administration" asp-controller="Categories">Category</a>
                   </div>
               </li>
        }
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="@profileImage" width="40" height="40" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-controller="Users" asp-action="UserProfile" asp-route-userId="@user.Id">My profile</a>
                <a class="dropdown-item" asp-controller="Posts" asp-action="GetMyPosts">My posts</a>
                <a class="dropdown-item" asp-controller="Posts" asp-action="GetFavoritesPosts">Favourite posts</a>
                <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </div>
        </li>  }
    else
    {
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
</li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>}
</ul>
