.img-image {
    transition: transform .3s;
    width: 160px;
    height: 80px;
}

    .img-image:hover {
        z-index: 1;
        transform: scale(1.4);
    }

.img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-thumbs-down {
    transform: scale(1.6,1.6);
    color: grey;
}

    .fa-thumbs-down:hover {
        color: red;
    }

.fa-thumbs-up {
    transform: scale(1.6,1.6);
    color: grey;
}

    .fa-thumbs-up:hover {
        color: rgb(15, 226, 43);
    }
#votesCount{
    font-size:20px;
}
.fa-heart {
    transform: scale(2,2);
    color:lightgrey;
}
.fa-heart:hover {
    color: red;
}
.fa-eye {
    transform: scale(2,2);
    color: lightgrey;
}

.datetime {
    font-size: 15px;
}

.views{
    font-size:18px;
}

.fa-edit {
    transform: scale(1.5,1.5);
}