<section class="about-us py-8 " id="about-us">
    <div class="container mt-8">
        <div class="row">
            <div class="col-md-8">
                <h1>👓 Project Introduction</h1>
                <p>ForumSystem is my defense project for ASP.NET Core - october 2020 course at SoftUni. It's a website for publishing posts in specific topics(categories). The website also has comments and comments' replies, implemented Votes system, implemented Favourite posts, implemented Trending posts,post edit and delete, implemented gallery for the posts. To work with ForumSystem and be able to publish posts you need to have registration first.</p>
                <ul>
                    <li>🛠 Build with:</li>
                    <li>.NET 5.0</li>
                    <li>ASP.NET Core 5.0</li>
                    <li>ASP.NET WebAPI 5.0</li>
                    <li>ASP.NET CORE view components</li>
                    <li>ASP.NET Core areas</li>
                    <li>Entity Framework Core 5.0</li>
                    <li>AJAX real-time Requests</li>
                    <li>JavaScript and JS animations</li>
                    <li>TinyMCE</li>
                    <li>Bootstrap</li>
                    <li>HtmlSanitizer</li>
                    <li>AutoMapper</li>
                    <li>Facebook for developers</li>
                    <li>Google for developers</li>
                    <li>SendGrid</li>
                    <li>jQuery</li>
                    <li>Font Awesome</li>
                </ul>
            </div>
        </div>
    </div>
</section>